// STYLE RESETS

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

// GLOBAL STYLING

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}
