// FONT FAMILY
$dancing-script: "Dancing Script", cursive;
$work-sans: "Work Sans", sans-serif;

//PRIMARY COLORS
$off-white: #f1f1f1;
$black: #1a1a1a;
$off-blue: #f9fdff;
$blue: #039be5;
$orange: #ffb003;
$light-background: #f8f9fa;

// GENERAL TYPOGRAPHY
$normal-font-weight: 400;
$bold-font-weight: 700;

// TYPOGRAPHY FOR MOBILE
$page-header-mobile-font-size: 2.5rem;
$page-header-mobile-line-height: 2rem;

$section-header-mobile-font-size: 0.75rem;
$section-header-mobile-line-height: 1.25rem;

$subheader-mobile-font-size: 0.8125rem;
$subheader-mobile-line-height: 1.125rem;

$body-copy-mobile-font-size: 0.8125rem;
$body-copy-mobile-line-height: 1.125rem;

$labels-buttons-mobile-font-size: 0.75rem;
$labels-buttons-mobile-line-height: 1.25rem;

// TYPOGRAPHY FOR TABLET/DESKTOP
$page-header-normal-font-size: 2.06rem;
$page-header-normal-line-height: 2.75rem;

$section-header-normal-font-size: 0.75rem;
$section-header-normal-line-height: 1.25rem;

$subheader-normal-font-size: 0.875rem;
$subheader-normal-line-height: 1.375rem;

$body-copy-normal-font-size: 0.875rem;
$body-copy-normal-line-height: 1.375rem;

$labels-buttons-normal-font-size: 0.75rem;
$labels-buttons-normal-line-height: 1.25rem;
