@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.user-card {
  padding: 1rem;

  &__wrapper {
    background-color: $off-white;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    @include display-flex(column, flex-start, center);
    height: 100%;
    padding: 0.5rem 1.5rem;
  }

  &__title {
    font-family: $dancing-script;
    color: $blue;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
  }

  &__message {
    font-family: $work-sans;
    font-size: 1rem;
  }

  &__button {
    padding: 1rem 0.5rem;
    @include display-flex(column, center, center);
    position: relative;
    width: 100%;
    position: relative;
  }

  &__drop {
    width: 100%;
    position: absolute;
    top: 4rem;
  }

  &__option {
    border: none;
    width: 100%;
    height: 2rem;
    background-color: $off-blue;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-bottom: 1px solid $borders;
  }
}
