@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.editor {
  padding: 2rem;
  border: 1px solid $borders;

  &__top {
    @include display-flex(row, space-between, center);
    width: 100%;
  }

  &__label {
    width: 100%;
  }

  &__input {
    border: none;
    height: 3rem;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }

  &__wrapper {
    @include display-flex(row, flex-end, center);
    border-top: 1px solid $borders;
  }

  &__button {
    @include display-flex(row-reverse, center, center);
    width: 50%;
    padding-top: 2rem;
  }
}

.editor-class {
  border: 1px solid lightgrey;
  background-color: $off-white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 13px;
  padding: 1rem;
}

.rdw-dropdown-selectedtext {
  color: black;
  text-decoration: none;
}
