@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.entry-preview {
  border: 1px solid $borders;
  background-color: $off-white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 8px;
  margin: 0;

  &__container {
    @include display-flex(row, space-between, center);
    padding: 1rem 1rem;
  }

  &__wrapper {
    @include display-flex(column, center, center);
    width: 70%;
  }

  &__entry {
    align-self: flex-start;
  }

  &__title {
    align-self: flex-start;
  }

  &__date {
    width: 30%;
    text-align: end;
    color: #6c757d;
    font-size: 0.8rem;
  }
}
