@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.entry {
  overflow-x: scroll;
  height: 26rem;

  &__wrapper {
    padding: 1rem;
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    margin-bottom: 1rem;
  }
}

.entry-preview {
  border: 1px solid $borders;
  background-color: $off-white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 8px;
  margin: 0;

  &__container {
    @include display-flex(row, space-between, center);
    padding: 1rem 1rem;
    transition: box-shadow 0.4s ease;

    &:hover {
      box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
    }
  }

  &__wrapper {
    @include display-flex(column, center, center);
    width: 70%;
  }

  &__entry {
    align-self: flex-start;
    font-size: 0.75rem;
  }

  &__title {
    align-self: flex-start;
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__date {
    width: 30%;
    text-align: end;
    color: #6c757d;
    font-size: 0.8rem;
  }
}
