@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.user {
  display: flex;
  border: 1px solid $borders;
  min-height: 80vh;
  @include desktop {
    @include container-center(80rem);
  }
}
