@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: $off-blue;
}

.nav {
  padding: 0.5rem 1rem;
  @include display-flex(row, space-between, center);

  @include desktop {
    padding: 1.5rem;
    @include container-center(80rem);
  }
}
