@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background-color: $off-blue;

  &__container {
    padding: 0.5rem 1.5rem;
    @include display-flex(row, space-between, center);

    @include desktop {
      padding: 1.5rem;
      @include container-center(80rem);
    }
  }

  &__text {
    color: #6c757d;
  }

  &__icon {
    margin-left: 0.5rem;
  }

  &__right {
    display: flex;
  }
}
