@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.user-nav {
  background-color: $off-blue;
  border-right: 1px solid $borders;
  width: 25%;
}

.entry-preview {
  border: 1px solid $borders;
  background-color: $off-white;

  &__container {
    @include display-flex(row, space-between, center);
    padding: 1rem 1rem;
  }

  &__wrapper {
    @include display-flex(column, center, center);
    width: 70%;
  }

  &__entry {
    align-self: flex-start;
  }

  &__title {
    align-self: flex-start;
  }

  &__date {
    width: 30%;
    text-align: end;
    color: #6c757d;
    font-size: 0.8rem;
  }
}
